body{
    background-color: #D1D0CE;
    border: 2px solid black;
    padding: 50px;
    margin: 30px;
}
nav {
    display: inline-block;
}

.logo{
    height: 300px;
    padding: 10px;
    border: 10px solid black;
}

li {
    text-align: center;
    padding-top: 0px;
    margin: 40px;
    border: solid black;
    background-color: black;
    border-radius: 30px;
    text-align: center;
}
.pics{
    padding: 30px;
    width: 360px;
    display: inline-table;
}

.pics:hover{
    border: 2px solid black;
    box-shadow: 1px 1px;
}


a:hover  {
    color: black;
}
.mk{
    position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

li:hover{
    background-color: white;
}

a {
    font-size: 40px;
    color: white;text-decoration: none;
    font-style: italic;
}