a{
    margin-left: 20px;
    text-decoration: none;
    color:white;
    position: relative;
    bottom:100px;
    left:300px;
}



.banner-image{
    width: 1400px;
    height: 800px;
}

.banner-title{
    position: absolute;
    top:250px;
    left:700px;
}

.banner-title-1{
    display:flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    color: white;
    font-size: 14px;
    padding-left: 30px;
}

.get-started{
    width:150px;
    height: 30px;
    background-color: red;
    color:white;
    border: none;
    border-radius: 5px;
    margin-left:120px;
    margin-top:40px;
    cursor: pointer;
}

.banner-title h1{
    color: white;
    font-size:60px;
    text-align: center;
    padding-right: 350px;
}