body{
background-color:lightgray;
font-size: 30px;
}

nav {
    background-color: #444;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
}
h1{
    font-size: 38px;
}

p{
    font-size: 33px;
}

h1>p{
    font-size: 21px;
}

footer {
    background-color: #444;
    text-align: center;
}

footer>p {
    color: #fff;
    font-size: 14px;
    padding: 10px;
}