.exitmenu{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0px;
    left: 1240px;
}
.exitmenu button{
    width: 30px;
    height: 25px;
    border: 0px;
    background-color: transparent;
}
.exit:hover{
    background-color: red;
    border-radius: 0px;
    color: white;
}
.mini:hover{
    border-radius: 0px;
    background-color: rgba(240, 248, 255, 0.253);
}

.exitmenu .user{
    background-color: rgba(246, 247, 248, 0.041);
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 20px;
}
.user{
    position: absolute;
    top: 30px;
    left: -20px;
    border: 1px solid white;
    background-color: white;
}

.user:hover{
    color: white;
    background-color: rgba(246, 247, 248, 0.26);
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 20px;
}

.Social {
    width: 280px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    padding-left: 2.3rem;
    padding-top: 2rem;
}

button {
    width: 70px;
    height: 35px;
    border: 0.3px solid rgb(212, 212, 212);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.fb {
    background-color: rgba(0, 0, 255, 0.747);
}

.go {
    background-color: rgba(253, 253, 255, 0.747);
}

.ap {
    background-color: black;
}

.xb {
    background-color: green;
}

.bb {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(235, 232, 232);
    border-radius: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    left: 140px;
}

.bb:hover {
    cursor: pointer;
}