html{
font-family: Helvetica, sans-serif;
line-height: 1.5;
}

h2{
    font-family: Georgia,serif;
    line-height: 1.2;
    font-size: 40px;
}

section{
    display:flex;
    align-content:center;
    justify-content:space-between;
    max-width: 70vw;
    margin: 200px 200px;
    
}
article{
    padding: 61px;
}


