@import url(https://use.fontawesome.com/releases/v6.4.0/css/all.css);


header {
    color: aliceblue;
    display: inline-flex;
    align-items: center;
    padding-bottom: 40px;
}

header>a {
    color: aliceblue;
    padding-left: 150px;
    text-decoration: none;

}

header>a:hover {
    /* the color  */
    --c: black;
    /* the height */
    --h: 1.2em;

    line-height: var(--h);
    color: #0000;
    text-shadow:
        0 var(--_t, var(--h)) #fff,
        0 0 var(--_c, #000);
    box-shadow: 0 var(--_t, var(--h)) var(--c);
    clip-path: inset(0 0 0 0);
    background: linear-gradient(var(--c) 0 0) 0 var(--_t, var(--h)) no-repeat;
    transition: 0.4s, clip-path 0.4s 0.4s;
    font-size: 40px;
}
/*   BODY  */

i {
    margin-right: 10px;
    overflow:visible;
}

body {
    background-color: rgba(0, 0, 0, 0.425);
    width: 99%;
    height: 100%;
    font-size: 30px;
    border-radius: 30px;
    border: 2px solid white;
    overflow:auto;
    color: #fff;
}

section{
    display:inline-block;
}

.ARE>li{
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    color: #fff;
    border-radius: 30px;
    text-align: center;
    height: 70px;
    width: 250px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.ARE>li{
    margin-left: 300px;
}

.ARE>li:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid white;
}
a{
    color: #000;
    text-decoration: none;
}

a:hover{
    color: #fff;
    text-decoration: none;
}



.addEmp:hover,.removeEmp:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid white;

}

footer {
    background-color: black;
    border: 2px solid white;
    color: aliceblue;
    display: flex;
    padding: 0 38.53%;
    width: 22.9%;
    height: 50%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 20px;
    overflow:auto;
}

.box {
    display: flex;
    color: aliceblue;
    letter-spacing: 1.5px;
    overflow:auto;
}

li {
    margin-bottom: 10px;
    margin-left: 20px;
    
}

.logo {
    width: 500px;
    overflow: auto;
    height: 140px;
    border: 2px solid white;
    background-color: black;
    border-bottom-right-radius: 20px;
    border-Top-Left-radius: 30px;
    margin-right: 40px;

}

option {
    font-size: 20px;
    text-align: center;
}

#city,
#T1,
#T2,
#N-T,
#N1-2,
#N3-4,
#addstb,
#Air,
#Error,
#start {
    font-size: large;
    border-radius: 10px;
    
}

button {
    margin: 30px 10px;
    cursor: pointer;
    font-size: large;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
}

button:hover {

    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    text-align: center;

}